
body {
    background-color: #f8f9fa;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    max-width: 100%;
}

/* CO2 Calculator Section */
.co2-section {
    background-color: hsl(162.5, 69.7%, 94.6%);
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.co2-container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
}

.co2-text {
    flex: 1;
    max-width: 50%;
}

.co2-text .heading-co2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 8px;
}

.co2-text .subtitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.co2-text p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    /* max-width: 450px; */
}

.co2-image {
    flex: 1;
    display: flex;
    justify-content: center;
    max-width: 50%;
}

.co2-image img {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.10); 
    border-radius: 10px;
}


/* Contact Section */
.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px 0;
}

.contact-container {
    display: flex;
    width: 80%; 
    max-width: 1100px; 
    border-radius: 12px;
    /* overflow: hidden;  */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    gap: 30px; 
}


.contact-info {
    flex: 1;
    padding: 40px;
    background: hsl(202, 80.5%, 34.1%);
    opacity: 10;
    color: white;
    border-radius: 12px;
    position: relative;
    font-family: "Montserrat", sans-serif;
}

.contact-info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('public/images/pexels-markie-mad-336302786-14048025.jpg') center/cover;
    opacity: 0.1;
    z-index: 0;
}

.contact-info .heading-info {
    font-size: 24px;
    margin-bottom: 8px;
    position: relative;
    z-index: 1;
}

.contact-info .subtitle {
    font-size: 16px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}


.info-box {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
}

.icon-circle {
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle i {
    font-size: 30px;
    color: hsl(202, 80.5%, 34.1%);
}

.contact-form {
    flex: 1;
    background: white;
    padding: 40px;
    border: 1px solid hsl(201, 100%, 40%);
    border-radius: 12px;
}

.contact-form .heading-form {
    color: #33475b;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-top: 10px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cbd6e2;
    background: #f5f8fa;
    border-radius: 13px;
    font-size: 14px;
}


.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus {
    border-color: hsl(201, 100%, 40%); 
    outline: none;
}

.input-row {
    display: flex;
    gap: 10px;
}

.input-row div {
    flex: 1;
}

input[type="file"] {
    border: none;
    padding: 5px;
}

button {
    background: #006397;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 13px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    width: 100px;
}

button:hover {
    background: #004d73;
}






/* footer */
.footer {
    background-color: #343a40;
    color: #f8f9fa;
    padding: 40px 20px 25px;
    width: 100%;
    margin-top: auto;
}
.footer .footer-anchor {
    text-decoration: none;
    color: #f8f9fa;
}
.footer .footer-anchor:hover {
    text-decoration: underline;
    color: darkblue;
}

.footer-container {
    width: 1100px;
    margin: 0 auto;
    padding: 0 32px;
}

.footer-bar {
    background-color: #e1e7ef;
    border-radius: 12px;
    padding: 25px;
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: black;
}

.footer-line {
    border-top: 1px solid #e1e7ef;
    width: 1100px;
    margin: 20px auto;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.star{
    color: red;
}
