
:root {
  --gray-light: #f8f9fa;
  --white: #ffffff;
  --gray-medium: #ebf8ff;
  --white-lighter: #f5f8fa;
  --blue-dark: rgb(0, 99, 153);
  --blue-primary: hsl(202, 90%, 55%);
  --gray-border: hsl(210, 14%, 65%);
  --shadow-color: rgba(0, 0, 0, 0.1);
  --green-tint: #eaf4f4;
  --gray-muted: #cbd6e2;
  --blue-strong: hsl(202, 80.5%, 34.1%);
  --blue-bold: hsl(201, 100%, 40%);
}

body {
    background-color: var(--white);
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    max-width: 100%;
    font-family: "Montserrat", sans-serif;
}

.section-para{
    max-width: 496px;
    width: 100%;
    font-size: 1.125rem;
}
.btn-primary:hover {
  background: #004d73;
}


/* navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--gray-light);

  .solution-menu {
    &.show {
      width: fit-content;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 1rem;
      top: 120%;
      left: 0;
      border-radius: 1rem;
      transform: translate(-34dvw, 0);
      background: var(--white);
    }

    .dropdown-item {
      padding: 0.7rem;
      border-radius: 0.5rem;
      transition: background 0.2s ease-in-out;

      &:hover {
        background: #f2f2f2;
      }
    }
  }

  .dropdown-item-title {
    display: block;
    font-size: 1rem;
    color: #006397;
    font-weight: 600;
  }
}
.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}

@media (max-width: 768px) {
  .solution-menu.show {
    display: block !important;
    transform: none !important;
    padding: 1rem 1.25rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 2rem);
    max-height: 70vh;
    overflow-y: auto;
    border-radius: 1rem;
    background: var(--white);
  }

  .solution-menu .dropdown-item {
    display: block;
    width: 100%;
  }

  .solution-menu .description {
    text-wrap: wrap;
    font-size: 0.85rem;
    margin-bottom: 0;
  }

}




/* tms section */
.tms-section {
  .bg-light-blue {
    background-color: var(--gray-medium);
  }

  .feature-card {
    img {
      display: block;
      max-width: 22.3125rem;
      height: 16.0625rem;
      margin: 0.9375rem auto; 
    }
  }
}

.btn-primary {
  border: none;
  padding: 0.625rem 1.25rem; 
  border-radius: 0.5rem; 
  color: #fff;
  background-color: var(--blue-dark);
  border-color: var(--blue-dark);
}

@media (max-width: 768px) {
  .tms-section {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }

  .tms-section h1,
  .tms-section .text-primary,
  .tms-section .card-title {
    font-size: 1.25rem; 
  }

  .tms-section .card-text {
    font-size: 1rem; 
    padding: 0 0.5rem;
  }

  .tms-section .btn {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }


  .tms-section .card-img {
    width: 10.5rem !important;  
    height: 7.3125rem !important; 
    max-width: none !important;
    max-height: none !important;
    margin: 1rem auto;
    display: block;
  }

  .tms-section .feature-card {
    margin-bottom: 2rem;
  }
}



/* LTL section */
.ltl-section {
  background-color: #f1f5f9;
  padding: 0rem 5rem;
  padding-bottom: 7rem;
  border-radius: 1rem;
  margin: 0 auto;
  max-width: 85%;
  margin-bottom: 12.5rem; 

  .ltl-benefits {
    img {
      margin-right: 0.5rem;
    }

    li {
      display: flex;
      align-items: center;
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }
  }

  .ltl-logos {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    img {
      margin-right: 1rem;
      max-width: 5rem; 
      height: clamp(2rem, calc(1rem + 1.75vw), 3rem);
      filter: grayscale(100%);
    }
  }

  .ltl-tab {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: var(--white);
    border: 1px solid var(--blue-primary);
    border-radius: 1.2rem;
    padding: 1.2rem;
    margin-top: 1rem;
    width: 75%;
    box-shadow: 0.25rem 0.3125rem 0 var(--blue-primary); 

    .form-control {
      border-color: var(--gray-border) !important;
      background-color: var(--white-lighter);
      border-radius: 0.25rem;

      &:focus {
        border-color: var(--blue-primary) !important;
        box-shadow: none;
        outline: none;
      }
    }

    .btn-wrapper {
      display: flex;
      align-items: center;

      .btn-primary {
        color: #fff;
        background-color: var(--blue-dark);
        border-color: var(--blue-dark);
        border-radius: 0.5rem;
        padding: 0.5rem 1.2rem;
      }
    }

    .origin-input-ltl {
      width: 20.5625rem; 
    }

    .destination-input-ltl {
      width: 20.5625rem;
    }

    .weight-input {
      width: 14.375rem; 
    }
  }
}
/* Mobile adjustments */
@media (max-width: 768px) {
  .ltl-section {
    padding: 0.5rem 1rem;
    max-width: 100%;
    margin: 0;
    margin-bottom: 2rem;
  }

  .ltl-logos{
    gap: 1.5rem !important;
    margin-left: 36px;
    margin-bottom: 20px;
  }

  .ltl-tab {
    position: relative !important;
    width: 343px !important;
    min-height: 420px !important;
    left: 0;
    transform: none;
    margin: 1rem auto 0;
    box-shadow: none;
    padding: 1.2rem; 
  }

  .ltl-form-group {
    width: 263px;
    margin: 0 auto 1rem auto;
  }

  .ltl-tab h5 { 
    width: 263px; 
    margin: 0 auto 2rem auto; 
    text-align: left; 
  }

  .ltl-tab .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0; 
  }

  .ltl-tab .col-auto {
    width: 263px !important;
    margin: 0 auto;
    text-align: left;
    padding: 0 !important; 
  }

  .ltl-tab .origin-input-ltl,
  .ltl-tab .destination-input-ltl,
  .ltl-tab .weight-input,
  .ltl-tab .btn-primary {
    width: 263px !important; 
    height: 38px !important; 
    margin: 0 auto;
    display: block;
  }

  .ltl-tab .btn-wrapper {
    margin-top: 1rem; 
    justify-content: center; 
  }
  .ltl-section .container {
    padding-left: 0;
    padding-right: 0;
  }
}


/* ai section */
.email-parser-section {
  position: relative;
  margin-inline: 2rem;
  border-radius: 2rem;
  background-color: rgb(47, 55, 73);
  background-image: url(public/images/circuit-board-and-ai-micro-processor-artificial-i-2025-03-09-19-08-58-utc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  overflow: hidden;
}

.email-parser-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(220, 42.9%, 16%);
  opacity: 0.8;
  z-index: 1;
}

.ai-outer-container {
  padding: 3.5rem 8rem; 
  position: relative;
}

.ai-container {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: 0 auto;
}

.email-parser-vid {
  width: 37.5625rem !important; 
  height: auto;
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.625rem var(--shadow-color); 
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background-image: url(../thumbnails/email-parser_5.gif);
  background-size: cover;
  background-repeat: no-repeat;
}

.ai-section-para {
  max-width: 496px;
  width: 100%;
  font-size: 1.125rem;
}

@media (min-width: 992px) {
  .ai-section-para {
    margin-left: 2rem; 
  }

  .ai-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .col-lg-6 {
    flex: 0 0 auto;
  }
}

@media (max-width: 991px) {
  .email-parser-section {
    margin-inline: 0.5rem; 
  }

  .ai-outer-container {
    padding: 2.5rem 2.3rem; 
  }

  .email-parser-vid {
    width: 100% !important;
    max-width: calc(100vw - 2rem); 
    height: auto;
  }

  .ai-section-para {
    margin-top: 1.5rem;
    text-align: left;
  }

  .ai-container {
    padding: 0;
  }
}

/* carriers section */
.carriers-section {
  padding: 0 5rem; 
}

.indeximg {
  border-radius: 0.75rem; 
  box-shadow: 0 0.375rem 1.125rem hsla(0, 0%, 0%, 0.3); 
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .carriers-section {
    padding: 0.5rem 1rem;
  }

  .carriers-section h2 {
    font-size: 1.6875rem;
  }

  .carriers-section h3 {
    font-size: 1.4375rem;
  }

  .section-para {
    font-size: 1rem; 
  }

  .carriers-section .img-fluid {
    width: 21.5625rem; 
    height: 10.0625rem; 
    object-fit: cover;
    display: block;
    margin: 1rem auto;
  }
  .carriers-section .mb-5 {
    margin-bottom: 1.5rem !important; 
  }

  .carriers-section.my-5 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }
}


/* intelligent rental section */
.equipment-rental-section {
  background-color: var(--gray-medium);
  border-radius: 1.5rem; 
  padding: 1rem 1rem;
  max-width: 75%;
  margin: 0 auto;
}

.equipment-description {
  margin-top: -0.625rem; 
  font-size: 1rem;
}

.rental-image {
  max-width: 100%;
  height: auto;
  border-radius: 0.75rem; 
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &-icon {
    font-size: 1.5rem; 
    margin-bottom: 0.5rem; 
  }
}

.text-primary {
  color:var(--blue-dark) !important;
}

@media (max-width:768px) {
  .equipment-rental-section {
    padding: 0.5rem 1rem;
    max-width: 100%;
    margin-bottom: 30px;

  .container {
      padding-left: 0;
      padding-right: 0;
    }
  
} 
} 
/* your carrier section */
.carrier-section {
  background-color: #FAF9F9;
  padding: 3.75rem 13%; 
  margin-bottom: 3.125rem; 

  .feature-badge {
    margin: 0;
    width: fit-content;
    padding: 0.25rem 0.75rem;
    background-color: hsl(201, 60%, 93%);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem; 

    i {
      color: hsl(202, 90%, 40%);
    }

    img {
      height: 1.5rem;
      width: auto;
    }
  }
  .lead {
    font-size: 1.25rem;
    font-weight: 300;
}
  .app-btn {
    background-color: black;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.125rem 0.625rem; 
    border-radius: 0.8125rem; 
    font-weight: normal;
    text-decoration: none;

    i.fa-apple {
      font-size: 1.875rem; 
    }

    &:hover {
      background-color: rgb(30, 30, 30);
    }
  }

  .mobile-app-vid {
    max-width: 100%;
    height: auto;
    max-height: 32rem;
    border-radius: 1rem;
    background-image: url(../../assets/thumbnails/ShipmentX-mobile-app.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 0 var(--shadow-color);
  }

  .vid-fluid-y {
    max-width: 100%;
    height: auto;
    max-height: 32rem;
  }
}
@media (max-width: 768px) {
  .carrier-section {
    padding: 0.5rem 1rem;
  }

  .mobile-app-vid {
    width: 345px;
    height: 480px;
    max-height: none; 
  }
  .carrier-section .container {
    padding-left: 0;
    padding-right: 0;
  }
}

/* loadboard section */
.loadboard-section {
  position: relative;
  overflow: hidden;
  margin-bottom: 3.25rem; 
  padding-top: 3rem;
  padding-bottom: 12rem;

  .loadboard-left-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: var(--green-tint);
    z-index: 0;
  }

  .loadboard-content {
    position: relative;
    z-index: 1;

    .loadboard-title {
      font-size: 2.5rem;
    }

    .loadboard-text-wrapper {
      max-width: 29.9375rem;
      width: 100%;

      .para-title {
        font-weight: 400;
      }

      .loadboard-para {
        font-size: 1.125rem;
      }

      h4,
      .h4 {
        font-size: 1.5rem;
      }
    }
  }

  .loadboard-tab {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: var(--white);
    border: 1px solid var(--blue-primary);
    border-radius: 1.2rem;
    padding: 1.2rem;
    width: 85%;
    box-shadow: 0.25rem 0.25rem 0 var(--blue-primary);
    bottom: -9rem;
    z-index: 5;

    .form-control {
      border-color: var(--gray-muted);
      background-color: var(--white-lighter);
      border-radius: 0.25rem;

      &:focus {
        border-color: var(--blue-primary)!important;
        box-shadow: none;
        outline: none;
      }
    }

    .origin-input {
      width: 20.5625rem; 
    }

    .destination-input {
      width: 20.5625rem; 
    }

    .range-input {
      width: 14.375rem; 
    }

    .btn-wrapper {
      display: flex;
      align-items: center;

      .btn-primary {
        color: #fff;
        background-color: var(--blue-dark);
        border-color: var(--blue-dark);
        border-radius: 0.5rem;
        padding: 0.5rem 1.2rem;
      }
    }
  }
}

.bg-teal-100 {
  background-color: var(--green-tint);
}

.fw-loadboard-normal {
  font-weight: 300;
}

@media (max-width: 768px) {
  .loadboard-tab {
    position: static !important;
    transform: none !important;
    margin-top: 2rem;
    width: 100% !important;
    box-shadow: none;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.loadboard-tab {
  .form-control {
    border-color: var(--gray-border) !important;
  }
}
@media (max-width: 768px) {
  .loadboard-section {
    padding: 0.5rem 1rem;

    .loadboard-left-bg {
      width: 100%;
    }
    .col-lg-6 {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .loadboard-content {
      .loadboard-title {
        font-size: 2rem;
        text-align: left;
      }

      .loadboard-text-wrapper {
        .para-title {
          font-size: 1.3125rem;
        }

        .loadboard-para {
          font-size: 1rem;
        }
      }
    }
  }

  .loadboard-tab {
    position: static !important;
    transform: none !important;
    width: 345px !important;
    height: 362px;
    margin: 2rem auto 0 auto;
    border-radius: 1.2rem;
    padding: 1.2rem;


    .form-control {
      height: 38px;
      width: 100% !important;
    }

    .origin-input,
    .destination-input,
    .range-input {
      width: 302px !important;
    }

    .btn-wrapper {
      width: 100%;
      margin-top: 0.5rem;

      .btn-primary {
        width: 100%;
        height: 37px;
        font-size: 1rem;
        padding: 0.5rem 0.5rem;
        margin-top: 0.5rem;
      }
    }

    .form-label {
      font-size: 1rem;
    }
  }
}



/* co2 section */
.co2-section {
  background-color: hsl(162.5, 69.7%, 94.6%);

  .container.custom-padding {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .co2-text {
    max-width: 35.625rem; 
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    .description {
      font-size: 1.125rem;
      line-height: 1.6;
      color: #333;
      max-width: 33.75rem; 
    }
  }

  .co2-image {
    max-width: 35.625rem;
    margin-left: auto;
    margin-right: auto;

    img {
      max-width: 100%;
      height: auto;
      box-shadow: 0 0.5rem 1.25rem var(--shadow-color); 
      border-radius: 0.625rem;
    }
  }
}
@media (max-width:768px){
  .container.custom-padding {
    padding: 0.5rem 1rem !important;
}
.co2-section{
  margin-bottom: 30px;
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
}
}
  





/* contact us section */
.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  max-width: 1100px;
  margin: 0 auto;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

    .contact-info,
    .contact-form {
      width: 100%;
      height: auto;
    }

    .contact-form {
      padding: 2rem 1rem;
    }

    .icon-circle {
      width: 60px;
      height: 60px;
      font-size: 20px;
    }

    .hs-richtext {
      font-size: 22px;
      line-height: 1.4;
    }

    .contact-info article {
      flex-direction: column;
      align-items: center;
    }
  }
}

.contact-info {
  background-color: var(--blue-strong);
  width: 539px;
  height: 678.6px;
  position: relative;
  overflow: hidden;

  .bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('public/images/pexels-markie-mad-336302786-14048025.jpg') center/cover no-repeat;
    opacity: 0.1;
    z-index: 0;
    border-radius: 1rem;
  }

  .content-wrapper {
    position: relative;
    z-index: 1;
  }
}

.fw-normal {
  font-weight: 400 !important;
}

.contact-form {
  width: 539px;
  height: 678.6px;
  font-family: Montserrat;
}

.hs-input {
  height: 40px;
  padding: 0 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #33475b;
  border: 1px solid var(--gray-muted);
  box-sizing: border-box;
  background-color: var(--white-lighter);
  border-radius: 13px;

  &:focus,
  &:focus-visible,
  &:focus-within {
    border-color: var(--blue-bold);
    box-shadow: none;
    outline: none;
  }
}

textarea.hs-input {
  height: 65.6px !important;
}

.native-file-input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #33475b;
  border: none;
  background: none;
  box-shadow: none;
  outline: none;
}

.form-label {
  color: #1d283a;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
}

.hs-richtext {
  margin-bottom: 3px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 24px;
  font-size: 28px;
  color: #33475b;
}

.icon-circle {
  width: 80px;
  height: 80px;
  background: var(--white);
  color: var(--blue-strong);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-height: 36px;

  i {
    font-size: 28px;
  }
}

.border-blue {
  border-color: var(--blue-bold) !important;
}

.btn-contact {
  font-size: 12px;
}

.star {
  color: red;
}



/* footer */
.Footer {
  padding-top: 2.5rem;
  background-color: #343a40;
  color: var(--gray-light);

  .container {
    max-width: 1140px !important;
  }

  .footer-row {
    display: grid;
    grid-template-columns: 21rem repeat(3, 1fr);
    gap: 2.5rem;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  h5 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
}

.footer-link {
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  border-radius: 1.5rem;
  text-decoration: none;
  color: hsl(204, 45%, 98%);

  &:hover {
    color: darkblue;
    text-decoration: underline;
    font-weight: 500;

    &::before {
      width: 100%;
    }
  }
}

.contact-footer {
  p {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    margin-bottom: 0.5rem;
  }
}

.i-class {
  font-size: 1.25rem;
  vertical-align: middle;
}

.footer-bar {
  background-color: hsl(214, 32%, 91%);
  border-radius: 0.75rem;

  .footer-bar-row {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    gap: 1.25rem;

    .footer-bar-content {
      display: flex;
      column-gap: 0.5rem;
      color: hsl(215, 25%, 27%);
    }
  }
}

@media screen and (max-width: 768px) {
  .Footer {
    .footer-row {
      grid-template-columns: 1fr;
      gap: 1.5rem;

      .solutions,
      .resources {
        grid-column: 1 / -1;
      }

      .solution-links,
      .resources-links {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(8.5rem, 1fr));
        gap: 0.5rem 1rem;
      }
    }
  }

  footer p {
    padding-left: 5px;
  }
}
















